@media only screen and (min-width: 900px) {
@font-face {
    font-family: 'Vazirmatn';
    src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ordibehesht;
    src: url('../assets/Ordibehesht.TTF');
}
@font-face {
    font-family: mojangles;
    src: url('../assets/Mojangles.ttf');
}
  .body-fa {
    font-family: "Vazirmatn";
    background-color: whitesmoke;
  }
  .body-en {
    font-family: "mojangles";
    background-color: whitesmoke;
  }
  body {
    text-align: center;
  }
  .title {
    font-size: 3em;
  }
  .title2 {
    font-size: 1.5em;
  }
  header {
    display: flex;
    color: black;
    width: 100%;
  }
  .navigation {
    top: 50px;
    list-style: none;
    position: absolute;
    right: 10%;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .logo {
    position: absolute;
    left: 10%;
    border-radius: 100px;
  }
  .navigation li {
    display: inline;
    list-style: none;
  }
  .navigation li a, .effect1 {
    padding: 6px 15px;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
  }
  .navigation li a:hover, .effect1:hover {
    background-color: lightgrey;
    color: white;
  }
  section {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*padding-right: 5px;
    padding-left: 5px;
    padding: 10px;*/
    position: relative;
    left: 5%;
  }
  .btn, .btn2 {
        display: inline-block;
        color: black;
        background-color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 80%;
        position: none;
        text-align: center;
        padding: 12px 16px;
    }
    .btn:hover, .btn2:hover, .submenu:hover, .submenu2:hover {
        background-color: lightgrey;
        }
    .submenu, .submenu2 {
        text-align: center;
        background-color: white;
        width: 80%;
        left: 8%;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: none;
        
    }
    .submenu a, .submenu2 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .submenu , .btn, .submenu2, .btn2 {
        text-align: center;
        position: relative;
    }
    table {
        position: relative;
        width: 100%;
    }
    th {
        background-color: whitesmoke;
        color: black;
    }
    td , th {
        border: 1px solid blanchedalmond;
        padding: 5px;
    }
    td {
        background-color: antiquewhite;
    }
}
}