@media only screen and (max-width: 500px) {
    #a1 {
        font-size: 0.5em;
    }
    .title {
        font-size: 2.5em;
    }
    .title2 {
        font-size: 1.5em;
    }
    #zq {
        font-size: 1.5em;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Sans-Serif;
        max-width: 100%;
    }
    audio {
        height: 100px;
    }
    body, footer {
        background-image: url('src/bg.jpg');
        color: white;
        overflow-x: hidden;
        min-height: 100vh;
    }
    main {
        width: 100%;
        position: absolute;
        top: 1000;
        bottom: 1000;
        left: 0 ;
        align-items: center;
        justify-content: center;
    }
    p, h1, h2, h3 {
        color: white;
        text-align: center;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px;
        display: inline;
        justify-content: space-between;
        align-items: left;
        z-index: 1000;
    }
    .logo {
        color: white;
        font-weight: 700;
        font-size: 2em;
        text-decoration: none;
    }
    .navigation {
        display: inline-block;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .navigation li {
        list-style: none;
    }
    .navigation li a , .effect1{
        text-decoration: none;
        color: white;
        border-radius: 20px ;
    }
    .navigation li a:hover, effect1:hover {
        background: #112434;
        color: #fff;
    }
    section, #a1{
        padding-right: 5px;
        padding-left: 5px;
        padding: 10px;
        border: 10px solid #008080;
        border-radius: 100px;
        background-color: #2F4F4F;
    }
    .div1 {
        margin: 3px 3px 3px 3px;
        padding-right: 5px;
        padding-left: 5px;
        padding: 10px;
        border: 5px solid #008080;
        border-radius: 100px;
        background-color: #008080;
    }
}